**Propuesta de trabajo** (requerimientos de aprobación)
Transformaciones: Para este MVP no necesitas perfección, ¡necesitas rapidez! ⏩ Vas a hacer estas, y solo estas, transformaciones a los datos:

Algunos campos, como belongs_to_collection, production_companies y otros (ver diccionario de datos) están anidados, esto es o bien tienen un diccionario o una lista como valores en cada fila, ¡deberán desanidarlos para poder y unirlos al dataset de nuevo hacer alguna de las consultas de la API! O bien buscar la manera de acceder a esos datos sin desanidarlos.

Los valores nulos de los campos revenue, budget deben ser rellenados por el número 0. LISTO

Los valores nulos del campo release date deben eliminarse. LISTO

De haber fechas, deberán tener el formato AAAA-mm-dd, además deberán crear la columna release_year donde extraerán el año de la fecha de estreno. LISTO

Crear la columna con el retorno de inversión, llamada return con los campos revenue y budget, dividiendo estas dos últimas revenue / budget, cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0. LISTO

Eliminar las columnas que no serán utilizadas, video,imdb_id,adult,original_title,poster_path y homepage. LISTO

In [28]:
#importamos las librerías necesarias para realizar nuestro procesamiento de datos
import pandas as pd
import numpy as np
from datetime import datetime

In [29]:
#Leemos los datasets entregado
dataMovies = pd.read_csv("./Dataset/movies_dataset_v1.csv",  encoding='latin-1')
dataCredits = pd.read_csv("./Dataset/credits.csv", encoding='latin-1')

C:\Users\caro\AppData\Local\Temp\ipykernel_7264\3768220314.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  dataMovies = pd.read_csv("./Dataset/movies_dataset_v1.csv",  encoding='latin-1')

In [248]:
#dataMovies.shape
dataCredits.shape

(45476, 3)

In [30]:
#primero vamos a concatenar los dataframes y luego a realizar las transformaciones
data = pd.concat([dataMovies, dataCredits], axis=1)

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44507 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20411 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
 24  cast                   45476 non-null  object
 25  crew                   45476 non-null  object
 26  id                     45476 non-null  int64
dtypes: float64(4), int64(1), object(22)
memory usage: 9.4+ MB

In [32]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'cast', 'crew', 'id'],
      dtype='object')

In [17]:
! pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\caro\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.5.3)
Collecting pandas
  Downloading pandas-2.0.3-cp310-cp310-win_amd64.whl (10.7 MB)
                                              0.0/10.7 MB ? eta -:--:--
                                              0.1/10.7 MB 2.2 MB/s eta 0:00:05
                                              0.2/10.7 MB 2.8 MB/s eta 0:00:04
     -                                        0.3/10.7 MB 2.6 MB/s eta 0:00:04
     -                                        0.5/10.7 MB 2.7 MB/s eta 0:00:04
     --                                       0.6/10.7 MB 2.8 MB/s eta 0:00:04
     --                                       0.7/10.7 MB 2.7 MB/s eta 0:00:04
     ---                                      0.9/10.7 MB 2.7 MB/s eta 0:00:04
     ---                                      0.9/10.7 MB 2.5 MB/s eta 0:00:04
     ---                                      1.0/10.7 MB 2.4 MB/s eta 0:00:05
     ----                                     1.1/10.7 MB 2.4 MB/s eta 0:00:04
     ----                                     1.2/10.7 MB 2.4 MB/s eta 0:00:04
     -----                                    1.4/10.7 MB 2.5 MB/s eta 0:00:04
     -----                                    1.5/10.7 MB 2.5 MB/s eta 0:00:04
     ------                                   1.6/10.7 MB 2.5 MB/s eta 0:00:04
     ------                                   1.7/10.7 MB 2.5 MB/s eta 0:00:04
     ------                                   1.9/10.7 MB 2.5 MB/s eta 0:00:04
     -------                                  2.0/10.7 MB 2.6 MB/s eta 0:00:04
     --------                                 2.2/10.7 MB 2.5 MB/s eta 0:00:04
     --------                                 2.3/10.7 MB 2.6 MB/s eta 0:00:04
     ---------                                2.4/10.7 MB 2.6 MB/s eta 0:00:04
     ---------                                2.6/10.7 MB 2.6 MB/s eta 0:00:04
     ----------                               2.7/10.7 MB 2.6 MB/s eta 0:00:04
     ----------                               2.8/10.7 MB 2.6 MB/s eta 0:00:04
     -----------                              3.0/10.7 MB 2.6 MB/s eta 0:00:03
     -----------                              3.1/10.7 MB 2.6 MB/s eta 0:00:03
     ------------                             3.2/10.7 MB 2.6 MB/s eta 0:00:03
     ------------                             3.4/10.7 MB 2.6 MB/s eta 0:00:03
     -------------                            3.5/10.7 MB 2.6 MB/s eta 0:00:03
     -------------                            3.6/10.7 MB 2.6 MB/s eta 0:00:03
     --------------                           3.8/10.7 MB 2.6 MB/s eta 0:00:03
     --------------                           3.9/10.7 MB 2.6 MB/s eta 0:00:03
     ---------------                          4.0/10.7 MB 2.6 MB/s eta 0:00:03
     ---------------                          4.2/10.7 MB 2.6 MB/s eta 0:00:03
     ----------------                         4.3/10.7 MB 2.6 MB/s eta 0:00:03
     ----------------                         4.4/10.7 MB 2.6 MB/s eta 0:00:03
     -----------------                        4.6/10.7 MB 2.7 MB/s eta 0:00:03
     -----------------                        4.7/10.7 MB 2.7 MB/s eta 0:00:03
     ------------------                       4.9/10.7 MB 2.7 MB/s eta 0:00:03
     ------------------                       5.0/10.7 MB 2.7 MB/s eta 0:00:03
     -------------------                      5.1/10.7 MB 2.7 MB/s eta 0:00:03
     -------------------                      5.2/10.7 MB 2.7 MB/s eta 0:00:03
     --------------------                     5.4/10.7 MB 2.7 MB/s eta 0:00:02
     --------------------                     5.5/10.7 MB 2.7 MB/s eta 0:00:02
     ---------------------                    5.6/10.7 MB 2.7 MB/s eta 0:00:02
     ---------------------                    5.8/10.7 MB 2.7 MB/s eta 0:00:02
     ----------------------                   5.9/10.7 MB 2.7 MB/s eta 0:00:02
     ----------------------                   6.0/10.7 MB 2.7 MB/s eta 0:00:02
     -----------------------                  6.2/10.7 MB 2.7 MB/s eta 0:00:02
     -----------------------                  6.3/10.7 MB 2.7 MB/s eta 0:00:02
     ------------------------                 6.5/10.7 MB 2.7 MB/s eta 0:00:02
     ------------------------                 6.6/10.7 MB 2.7 MB/s eta 0:00:02
     -------------------------                6.7/10.7 MB 2.7 MB/s eta 0:00:02
     -------------------------                6.9/10.7 MB 2.7 MB/s eta 0:00:02
     --------------------------               7.0/10.7 MB 2.7 MB/s eta 0:00:02
     --------------------------               7.1/10.7 MB 2.7 MB/s eta 0:00:02
     ---------------------------              7.3/10.7 MB 2.7 MB/s eta 0:00:02
     ---------------------------              7.4/10.7 MB 2.7 MB/s eta 0:00:02
     ----------------------------             7.5/10.7 MB 2.7 MB/s eta 0:00:02
     ----------------------------             7.6/10.7 MB 2.7 MB/s eta 0:00:02
     -----------------------------            7.8/10.7 MB 2.7 MB/s eta 0:00:02
     -----------------------------            7.9/10.7 MB 2.7 MB/s eta 0:00:02
     ------------------------------           8.0/10.7 MB 2.7 MB/s eta 0:00:01
     ------------------------------           8.2/10.7 MB 2.7 MB/s eta 0:00:01
     -------------------------------          8.3/10.7 MB 2.7 MB/s eta 0:00:01
     -------------------------------          8.4/10.7 MB 2.7 MB/s eta 0:00:01
     --------------------------------         8.5/10.7 MB 2.7 MB/s eta 0:00:01
     --------------------------------         8.7/10.7 MB 2.7 MB/s eta 0:00:01
     --------------------------------         8.8/10.7 MB 2.7 MB/s eta 0:00:01
     ---------------------------------        8.9/10.7 MB 2.7 MB/s eta 0:00:01
     ----------------------------------       9.1/10.7 MB 2.7 MB/s eta 0:00:01
     ----------------------------------       9.2/10.7 MB 2.7 MB/s eta 0:00:01
     -----------------------------------      9.3/10.7 MB 2.7 MB/s eta 0:00:01
     -----------------------------------      9.5/10.7 MB 2.7 MB/s eta 0:00:01
     -----------------------------------      9.6/10.7 MB 2.7 MB/s eta 0:00:01
     ------------------------------------     9.7/10.7 MB 2.7 MB/s eta 0:00:01
     ------------------------------------     9.8/10.7 MB 2.7 MB/s eta 0:00:01
     -------------------------------------    10.0/10.7 MB 2.7 MB/s eta 0:00:01
     -------------------------------------    10.1/10.7 MB 2.7 MB/s eta 0:00:01
     --------------------------------------   10.2/10.7 MB 2.7 MB/s eta 0:00:01
     --------------------------------------   10.4/10.7 MB 2.7 MB/s eta 0:00:01
     ---------------------------------------  10.5/10.7 MB 2.7 MB/s eta 0:00:01
     ---------------------------------------  10.6/10.7 MB 2.7 MB/s eta 0:00:01
     ---------------------------------------  10.7/10.7 MB 2.7 MB/s eta 0:00:01
     ---------------------------------------  10.7/10.7 MB 2.7 MB/s eta 0:00:01
     ---------------------------------------- 10.7/10.7 MB 2.6 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\caro\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\caro\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2023.3)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
                                              0.0/341.8 kB ? eta -:--:--
     ---------------                        143.4/341.8 kB 2.8 MB/s eta 0:00:01
     ----------------------------           256.0/341.8 kB 3.2 MB/s eta 0:00:01
     -------------------------------------  337.9/341.8 kB 3.0 MB/s eta 0:00:01
     -------------------------------------- 341.8/341.8 kB 2.4 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21.0 in c:\users\caro\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\caro\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.5.3
    Uninstalling pandas-1.5.3:
      Successfully uninstalled pandas-1.5.3

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\caro\\AppData\\Local\\Packages\\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\\LocalCache\\local-packages\\Python310\\site-packages\\~andas\\_libs\\algos.cp310-win_amd64.pyd'
Check the permissions.

In [33]:
 # Checkeamos Nulos por columna revenue
data['revenue'].isna().sum()

16

In [34]:
 # Checkeamos Nulos por columna budget
data['budget'].isna().sum()

10

In [35]:
#Los valores nulos de los campos revenue, budget deben ser rellenados por el número 0.
data['revenue'].fillna(0, inplace=True)
data['budget'].fillna(0, inplace=True)

In [36]:
#Chequeo que no hayan quedado nulos
data['budget'].isna().sum()

0

In [37]:
#Los valores nulos del campo release date deben eliminarse.
 # Checkeamos Nulos por columna release
data['release_date'].isna().sum()

97

In [38]:
#Elimino los nulos del campo release_date
data.drop(dataMovies[dataMovies['release_date'].isna()].index, inplace=True)

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45389 entries, 0 to 45475
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45379 non-null  object
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45389 non-null  object
 3   genres                 45379 non-null  object
 4   homepage               7769 non-null   object
 5   id                     45379 non-null  object
 6   imdb_id                45365 non-null  object
 7   original_language      45368 non-null  object
 8   original_title         45379 non-null  object
 9   overview               44433 non-null  object
 10  popularity             45377 non-null  object
 11  poster_path            45040 non-null  object
 12  production_companies   45379 non-null  object
 13  production_countries   45379 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45389 non-null  float64
 16  runtime                45130 non-null  float64
 17  spoken_languages       45376 non-null  object
 18  status                 45296 non-null  object
 19  tagline                20397 non-null  object
 20  title                  45376 non-null  object
 21  video                  45376 non-null  object
 22  vote_average           45376 non-null  float64
 23  vote_count             45376 non-null  float64
 24  cast                   45389 non-null  object
 25  crew                   45389 non-null  object
 26  id                     45389 non-null  int64
dtypes: float64(4), int64(1), object(22)
memory usage: 9.7+ MB

In [40]:
#df.dtypes
#Verificamos los tipos de datos

#df['columna de fecha'] = pd.to_datetime(df['columna de fecha'])   
# Las columnas de fecha suelen venir en type object, es bueno cambiarlas a type datetime
#dataMovies['release_date'].dtype 
data['release_date'] = pd.to_datetime(data['release_date'], format= "%Y-%m-%d", errors='coerce')
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45389 entries, 0 to 45475
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45379 non-null  object
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45389 non-null  object
 3   genres                 45379 non-null  object
 4   homepage               7769 non-null   object
 5   id                     45379 non-null  object
 6   imdb_id                45365 non-null  object
 7   original_language      45368 non-null  object
 8   original_title         45379 non-null  object
 9   overview               44433 non-null  object
 10  popularity             45377 non-null  object
 11  poster_path            45040 non-null  object
 12  production_companies   45379 non-null  object
 13  production_countries   45379 non-null  object
 14  release_date           45376 non-null  datetime64[ns]
 15  revenue                45389 non-null  float64
 16  runtime                45130 non-null  float64
 17  spoken_languages       45376 non-null  object
 18  status                 45296 non-null  object
 19  tagline                20397 non-null  object
 20  title                  45376 non-null  object
 21  video                  45376 non-null  object
 22  vote_average           45376 non-null  float64
 23  vote_count             45376 non-null  float64
 24  cast                   45389 non-null  object
 25  crew                   45389 non-null  object
 26  id                     45389 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(21)
memory usage: 9.7+ MB

In [41]:
#data['release_date'].isna().sum() 
#Elimino los nuevos nulos generados al convertir el tipo de dato del campo release_date
data.drop(data[data['release_date'].isna()].index, inplace=True)

In [42]:
data['release_date'].isna().sum()

0

In [43]:
#además deberán crear la columna release_year donde extraerán el año de la fecha de estreno.

data['release_year'] = data['release_date'].dt.year.astype(int)

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45376 entries, 0 to 45465
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45376 non-null  object
 1   belongs_to_collection  4488 non-null   object
 2   budget                 45376 non-null  object
 3   genres                 45376 non-null  object
 4   homepage               7766 non-null   object
 5   id                     45376 non-null  object
 6   imdb_id                45362 non-null  object
 7   original_language      45365 non-null  object
 8   original_title         45376 non-null  object
 9   overview               44430 non-null  object
 10  popularity             45376 non-null  object
 11  poster_path            45037 non-null  object
 12  production_companies   45376 non-null  object
 13  production_countries   45376 non-null  object
 14  release_date           45376 non-null  datetime64[ns]
 15  revenue                45376 non-null  float64
 16  runtime                45130 non-null  float64
 17  spoken_languages       45376 non-null  object
 18  status                 45296 non-null  object
 19  tagline                20397 non-null  object
 20  title                  45376 non-null  object
 21  video                  45376 non-null  object
 22  vote_average           45376 non-null  float64
 23  vote_count             45376 non-null  float64
 24  cast                   45376 non-null  object
 25  crew                   45376 non-null  object
 26  id                     45376 non-null  int64
 27  release_year           45376 non-null  int32
dtypes: datetime64[ns](1), float64(4), int32(1), int64(1), object(21)
memory usage: 9.9+ MB

In [45]:
data.head(20)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,status,tagline,title,video,vote_average,vote_count,cast,crew,id,release_year
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,1995
1,FALSE,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,1995
2,FALSE,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,1995
3,FALSE,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,1995
4,FALSE,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,1995
5,FALSE,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...",949,1995
6,FALSE,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",11860,1995
7,FALSE,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0,"[{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",45325,1995
8,FALSE,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0,"[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...",9091,1995
9,FALSE,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...",710,1995
10,FALSE,NaN,62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,Released,Why can't the most powerful man in the world h...,The American President,False,6.5,199.0,"[{'cast_id': 1, 'character': 'Andrew Shepherd'...","[{'credit_id': '52fe44dac3a36847f80adfa3', 'de...",9087,1995
11,FALSE,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,Released,NaN,Dracula: Dead and Loving It,False,5.7,210.0,"[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...",12110,1995
12,FALSE,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,...,Released,Part Dog. Part Wolf. All Hero.,Balto,False,7.1,423.0,"[{'cast_id': 1, 'character': 'Balto (voice)', ...","[{'credit_id': '593f24b9c3a3680369002371', 'de...",21032,1995
13,FALSE,NaN,44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,...,Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,False,7.1,72.0,"[{'cast_id': 1, 'character': 'Richard Nixon', ...","[{'credit_id': '52fe43c59251416c7501d6f3', 'de...",10858,1995
14,FALSE,NaN,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137.0,"[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...",1408,1995
15,FALSE,NaN,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,524,tt0112641,en,Casino,The life of the gambling paradise  Las Vegas ...,...,Released,No one stays at the top forever.,Casino,False,7.8,1343.0,"[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...","[{'credit_id': '52fe424dc3a36847f80139cd', 'de...",524,1995
16,FALSE,NaN,16500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",...,Released,Lose your heart and come to your senses.,Sense and Sensibility,False,7.2,364.0,"[{'cast_id': 6, 'character': 'Marianne Dashwoo...","[{'credit_id': '52fe43cec3a36847f807101f', 'de...",4584,1995
17,FALSE,NaN,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,...,Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.5,539.0,"[{'cast_id': 42, 'character': 'Ted the Bellhop...","[{'credit_id': '52fe420dc3a36847f800011b', 'de...",5,1995
18,FALSE,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,False,6.1,1128.0,"[{'cast_id': 1, 'character': 'Ace Ventura', 'c...","[{'credit_id': '52fe44dfc3a36847f80af28b', 'de...",9273,1995
19,FALSE,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,...,Released,"Get on, or GET OUT THE WAY!",Money Train,False,5.4,224.0,"[{'cast_id': 1, 'character': 'John', 'credit_i...","[{'credit_id': '52fe44509251416c750305a1', 'de...",11517,1995

In [46]:
#Crear la columna con el retorno de inversión, llamada return con los campos revenue y budget, 
#dividiendo estas dos últimas revenue / budget, cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0.


# Algunas columnas tienen numeros pero son de tipo string(budget), con to_numeric las cambiamos a integer

data['budget'] = pd.to_numeric(data['budget'])
data['return'] =  data.apply(lambda row: row['revenue'] / row['budget'] if (pd.notnull(row['revenue']) and pd.notnull(row['budget'])  and (row['budget']) != 0) else 0, axis=1)

In [47]:
data.head(20)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,tagline,title,video,vote_average,vote_count,cast,crew,id,release_year,return
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,1995,12.451801
1,FALSE,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,1995,4.043035
2,FALSE,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,1995,0.000000
3,FALSE,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,1995,5.090760
4,FALSE,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,1995,0.000000
5,FALSE,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...",949,1995,3.123947
6,FALSE,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",11860,1995,0.000000
7,FALSE,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,The Original Bad Boys.,Tom and Huck,False,5.4,45.0,"[{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",45325,1995,0.000000
8,FALSE,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,Terror goes into overtime.,Sudden Death,False,5.5,174.0,"[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...",9091,1995,1.838576
9,FALSE,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...",710,1995,6.072311
10,FALSE,NaN,62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,Why can't the most powerful man in the world h...,The American President,False,6.5,199.0,"[{'cast_id': 1, 'character': 'Andrew Shepherd'...","[{'credit_id': '52fe44dac3a36847f80adfa3', 'de...",9087,1995,1.739992
11,FALSE,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,NaN,Dracula: Dead and Loving It,False,5.7,210.0,"[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...",12110,1995,0.000000
12,FALSE,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,...,Part Dog. Part Wolf. All Hero.,Balto,False,7.1,423.0,"[{'cast_id': 1, 'character': 'Balto (voice)', ...","[{'credit_id': '593f24b9c3a3680369002371', 'de...",21032,1995,0.000000
13,FALSE,NaN,44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,...,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,False,7.1,72.0,"[{'cast_id': 1, 'character': 'Richard Nixon', ...","[{'credit_id': '52fe43c59251416c7501d6f3', 'de...",10858,1995,0.310949
14,FALSE,NaN,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137.0,"[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...",1408,1995,0.102218
15,FALSE,NaN,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,524,tt0112641,en,Casino,The life of the gambling paradise  Las Vegas ...,...,No one stays at the top forever.,Casino,False,7.8,1343.0,"[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...","[{'credit_id': '52fe424dc3a36847f80139cd', 'de...",524,1995,2.232930
16,FALSE,NaN,16500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",...,Lose your heart and come to your senses.,Sense and Sensibility,False,7.2,364.0,"[{'cast_id': 6, 'character': 'Marianne Dashwoo...","[{'credit_id': '52fe43cec3a36847f807101f', 'de...",4584,1995,8.181818
17,FALSE,NaN,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,...,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.5,539.0,"[{'cast_id': 42, 'character': 'Ted the Bellhop...","[{'credit_id': '52fe420dc3a36847f800011b', 'de...",5,1995,1.075000
18,FALSE,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,False,6.1,1128.0,"[{'cast_id': 1, 'character': 'Ace Ventura', 'c...","[{'credit_id': '52fe44dfc3a36847f80af28b', 'de...",9273,1995,7.079518
19,FALSE,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,...,"Get on, or GET OUT THE WAY!",Money Train,False,5.4,224.0,"[{'cast_id': 1, 'character': 'John', 'credit_i...","[{'credit_id': '52fe44509251416c750305a1', 'de...",11517,1995,0.590519

In [48]:
#Eliminar las columnas que no serán utilizadas, video,imdb_id,adult,original_title,poster_path y homepage.
data.drop(columns=['video', 'imdb_id', 'adult','original_title','poster_path', 'homepage'], inplace=True)

In [49]:
data.columns

Index(['belongs_to_collection', 'budget', 'genres', 'id', 'original_language',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'cast', 'crew', 'id', 'release_year', 'return'],
      dtype='object')

In [50]:
# Desanidar el campo 'belongs_to_collection'

import ast

data['franquicia'] = data['belongs_to_collection'].apply(lambda x: ast.literal_eval(x)['name'] if isinstance(x, str) else '').tolist()
                                                         
# Imprimir el DataFrame resultante
data.head(5)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,tagline,title,vote_average,vote_count,cast,crew,id,release_year,return,franquicia
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,...,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,1995,12.451801,Toy Story Collection
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,...,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,1995,4.043035,
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,1995,0.000000,Grumpy Old Men Collection
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,1995,5.090760,
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,1995,0.000000,Father of the Bride Collection

In [51]:
#desanidar genres
import json

data['genres'] = data['genres'].str.replace("'", '"')
data['genres'] = data['genres'].apply(lambda x: [item['name'] for item in json.loads(x)]).tolist()

data

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,tagline,title,vote_average,vote_count,cast,crew,id,release_year,return,franquicia
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,...,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,1995,12.451801,Toy Story Collection
1,NaN,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,...,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,1995,4.043035,
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,1995,0.000000,Grumpy Old Men Collection
3,NaN,16000000,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,1995,5.090760,
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,1995,0.000000,Father of the Bride Collection
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,NaN,0,"[Drama, Action, Romance]",30840,en,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,...,NaN,Robin Hood,5.7,26.0,"[{'cast_id': 3, 'character': 'All the members ...","[{'credit_id': '52fe478dc3a36847f813bd6b', 'de...",49280,1991,0.000000,
45462,NaN,0,[Drama],111109,tl,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,...,NaN,Century of Birthing,9.0,3.0,[],"[{'credit_id': '539ef1090e0a263dd00000d7', 'de...",276895,2011,0.000000,
45463,NaN,0,"[Action, Drama, Thriller]",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,...,A deadly game of wits.,Betrayal,3.8,6.0,"[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...",404604,2003,0.000000,
45464,NaN,0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,...,NaN,Satan Triumphant,0.0,0.0,"[{'cast_id': 0, 'character': 'Lauren', 'credit...","[{'credit_id': '587626f4c3a3682b33008299', 'de...",420346,1917,0.000000,
45465,NaN,0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,...,NaN,Queerama,0.0,0.0,"[{'cast_id': 5, 'character': '', 'credit_id': ...","[{'credit_id': '5330178a9251413a720055e3', 'de...",67179,2017,0.000000,

In [52]:
#desanidar production_companies

# convertir strings en 'production_companies' a listas de dictionarios
data['production_companies'] = data['production_companies'].apply(ast.literal_eval)

# Funcion para extraer los nombres de las productoras a una lista
def get_company_names(row):
    if isinstance(row, list):
        return [company['name'] for company in row]
    else:
        return []  # Or handle it as per your requirement

# Crear columna 'productoras'
data['productoras'] = data['production_companies'].apply(get_company_names)

data.head(5)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,title,vote_average,vote_count,cast,crew,id,release_year,return,franquicia,productoras
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,...,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,1995,12.451801,Toy Story Collection,[Pixar Animation Studios]
1,NaN,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,...,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,1995,4.043035,,"[TriStar Pictures, Teitler Film, Interscope Co..."
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,Grumpier Old Men,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,1995,0.000000,Grumpy Old Men Collection,"[Warner Bros., Lancaster Gate]"
3,NaN,16000000,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,Waiting to Exhale,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,1995,5.090760,,[Twentieth Century Fox Film Corporation]
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,...,Father of the Bride Part II,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,1995,0.000000,Father of the Bride Collection,"[Sandollar Productions, Touchstone Pictures]"

In [53]:
#desanidar production_countries

#convertir strings en 'production_countries' a listas de dictionarios
data['production_countries'] = data['production_countries'].apply(ast.literal_eval)

# Funcion para extraer los nombres de las productoras a una lista
def get_company_names(row):
    if isinstance(row, list):
        return [company['name'] for company in row]
    else:
        return []  # Or handle it as per your requirement

# Crear columna 'paises'
data['paises'] = data['production_countries'].apply(get_company_names)

data.head(5)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,vote_average,vote_count,cast,crew,id,release_year,return,franquicia,productoras,paises
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,...,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,1995,12.451801,Toy Story Collection,[Pixar Animation Studios],[United States of America]
1,NaN,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,...,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,1995,4.043035,,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America]
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,1995,0.000000,Grumpy Old Men Collection,"[Warner Bros., Lancaster Gate]",[United States of America]
3,NaN,16000000,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,1995,5.090760,,[Twentieth Century Fox Film Corporation],[United States of America]
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,...,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,1995,0.000000,Father of the Bride Collection,"[Sandollar Productions, Touchstone Pictures]",[United States of America]

In [54]:
#desanidar crew (Directores)

data['crew'] = data['crew'].apply(ast.literal_eval)

# Funcion para extraer los nombres de las productoras a una lista
def get_director_names(row):
    if isinstance(row, list):
        return [company['name'] for company in row if company['job'] == 'Director']
    else:
        return []  # Or handle it as per your requirement

# Crear columna 'directores'
data['directores'] = data['crew'].apply(get_director_names)

data.head(5)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,vote_count,cast,crew,id,release_year,return,franquicia,productoras,paises,directores
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,...,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,1995,12.451801,Toy Story Collection,[Pixar Animation Studios],[United States of America],[John Lasseter]
1,NaN,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,...,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,1995,4.043035,,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],[Joe Johnston]
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,1995,0.000000,Grumpy Old Men Collection,"[Warner Bros., Lancaster Gate]",[United States of America],[Howard Deutch]
3,NaN,16000000,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,1995,5.090760,,[Twentieth Century Fox Film Corporation],[United States of America],[Forest Whitaker]
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,...,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,1995,0.000000,Father of the Bride Collection,"[Sandollar Productions, Touchstone Pictures]",[United States of America],[Charles Shyer]

In [63]:
#elimino algunas columnas para reducir el tamaño de mi archivo .csv
data.columns

Index(['belongs_to_collection', 'budget', 'genres', 'id', 'original_language',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'cast', 'crew', 'id', 'release_year', 'return',
       'franquicia', 'productoras', 'paises', 'directores'],
      dtype='object')

In [62]:
data.head(5)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45376 entries, 0 to 45465
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4488 non-null   object
 1   budget                 45376 non-null  int64
 2   genres                 45376 non-null  object
 3   id                     45376 non-null  object
 4   original_language      45365 non-null  object
 5   overview               44430 non-null  object
 6   popularity             45376 non-null  object
 7   production_companies   45376 non-null  object
 8   production_countries   45376 non-null  object
 9   release_date           45376 non-null  datetime64[ns]
 10  revenue                45376 non-null  float64
 11  runtime                45130 non-null  float64
 12  spoken_languages       45376 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20397 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  float64
 17  vote_count             45376 non-null  float64
 18  cast                   45376 non-null  object
 19  crew                   45376 non-null  object
 20  id                     45376 non-null  int64
 21  release_year           45376 non-null  int32
 22  return                 45376 non-null  float64
 23  franquicia             45376 non-null  object
 24  productoras            45376 non-null  object
 25  paises                 45376 non-null  object
 26  directores             45376 non-null  object
dtypes: datetime64[ns](1), float64(5), int32(1), int64(2), object(18)
memory usage: 9.5+ MB

In [64]:
data.drop(columns=['belongs_to_collection'], axis=1, inplace=True)

In [66]:
data.drop(columns=['production_companies'], axis=1, inplace=True)

In [67]:
data.drop(columns=['production_countries'], axis=1, inplace=True)

In [71]:
data.drop(columns=['crew'], axis=1, inplace=True)

In [72]:
data.drop(columns=['cast'], axis=1, inplace=True)

In [73]:
data.columns

Index(['budget', 'genres', 'id', 'original_language', 'overview', 'popularity',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'vote_average', 'vote_count', 'id', 'release_year',
       'return', 'franquicia', 'productoras', 'paises', 'directores'],
      dtype='object')

In [74]:
data.shape

(45376, 22)

In [75]:
#finalmente exporto mi dataframe a un archivo para que pueda ser usado 
# Exportar el DataFrame a un archivo CSV
data.to_csv('./Dataset/datosMoviesPI01.csv', index=False)